/*.*~

*/**
/beyond-nyquist
/complex-pseudoinverse
/complex-svd
/cs-intro
/cs-primer
/fermi-pasta-ulam
/gray-scott
/intuitive-cs
/irls
/julian-day
/l1-magic-ports
/mass-spring-vis
/mathgifs-logo
/matrix-spark
/metronome
/mutual-coherence
/soliton-startrek
/vanderpol-portrait
/weierstrass

